extends ../layout/index

block contenido
    div.py-2
        h1.text-4xl.my-10.font-extrabold.text-center.text-azulMunsell Bienes
            span.font-normal.text-azulClaro Raices
        h2.text-center.text-2xl.font-extrabold.text-azulPrusia= pagina

    div.mt-8.mx-auto.max-w-md
        .bg-blanco.py-8.px-4.shadow
            if errores
                // Estilos y script para manejar los mensajes de error
                style.
                    .fade-error {
                        transition: opacity 1s ease-in-out;
                    }
                script.
                    setTimeout(function() {
                        const errorMessages = document.querySelectorAll('.fade-error');
                        errorMessages.forEach((message, index) => {
                            setTimeout(() => {
                                message.style.opacity = '0'; 
                                setTimeout(() => {
                                    message.style.display = 'none'; 
                                }, 1000); 
                            }, index * 2000); 
                        });
                    }, 1500);

                div.max-w-md.mx-auto.my-10
                    each error in errores
                        p.bg-error.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold.fade-error!= error.msg

            form.space-y-5(method="POST"  noValidate)
                input(type="hidden" name="_csrf" value=csrfToken)
                div
                    label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold Nueva contraseña:
                    input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(
                        placeholder="Escribe la nueva contraseña"
                        type="password"
                        name="password"
                    )
                div
                    label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold Confirmar contraseña:
                    input#confirmPassword.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(
                        placeholder="Confirma la nueva contraseña"
                        type="password"
                        name="confirmPassword"
                    )
            
                input(
                    class="w-full bg-azulMunsell hover:bg-azulClaro text-blanco font-bold py-3 cursor-pointer"
                    type="submit"
                    value="Cambiar contraseña"
                )
